# FastAPI app
fastapi
uvicorn
numpy
requests
fastapi[all]

# celeb-detector
annoy
keras-vggface
keras-applications
torch
face_recognition
imutils
opencv-python
matplotlib
tqdm
pillow
onnx2torch
requests

protobuf==3.20.1
